body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #333;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.presentacion{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
  
}


.p {
  margin-bottom: 1.6em;
}
/*1.6em*/
.cafelasenia {
  font-size: 4rem;
  line-height: 1.3em;
}

.container {
  width: 85%;
  max-width: 850px;
  margin: 0;
}

.header {
  background-color: black;
  color: white;
  padding: 2rem 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.header a {
  color: white;
  text-decoration: none;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav ul li {
  display: inline-block;
  margin: 12px;
}
a.inicio {
  background-color: #f1f1f1;
  color: #333;
}
.nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.nav ul li a:hover {
  background: #4a4a4a;
}

.footer {
  background-color: #f2f2f2;
  padding: 4rem 0;
  text-align: center;
  margin-top: 6rem;
}

.correo {
  color: #333;
  text-decoration: none;
  vertical-align: middle;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.correo:hover {
  background-color: #908f8f;
}

.ubi {
  color: #333;
  text-decoration: none;
  vertical-align: middle;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.ubi:hover {
  background-color: #4a4a4a;
  color: white;
}

/*Menú collapse*/
.collapsible {
  background-color: #f2f2f2;
  color: #333;
  cursor: pointer;
  padding: 0;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.item {
  background-color: #f2f2f2;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  list-style-type: none;
}

.item2 {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  list-style-type: none;
  color: #333;
}

.active, .collapsible:hover {
  background-color: #555;
  padding: 0;
  color: #f2f2f2;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.lista {
  margin-top: 0px;
  padding-left: 0px;
  background-color: #f1f1f1;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.lista:hover {
  background-color: #333;
}

.lista:hover .item2 {
  color: #a0a0a0;
}

.lista:hover .item2 .correo {
  color: #a0a0a0;
}

.venidos {
  text-align: center;
  padding-top: 2%;
}
.cafe {
  text-align: center;
  color:peru;
  font-size: 4rem;
}
.txt {
  padding-left: 25%;
  padding-right: 25%;
  text-align: justify center;
  font-size: 14px;
}
.detail {
  padding-left: 47%;
  padding-right: 47%;
  font-size: 2rem;
  text-decoration: none;
  color: peru;
}
.alineado {
  padding-right: 4%;
}
/*Slider*/

@keyframes slide {
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-100%); }
	30% { transform: translateX(-100%); }

	35% { transform: translateX(-200%); }
	50% { transform: translateX(-200%); }

	55% { transform: translateX(-300%); }
	70% { transform: translateX(-300%); }

	75% { transform: translateX(-400%); }
	90% { transform: translateX(-400%); }

	95% { transform: translateX(-500%); }
	100% { transform: translateX(-500%); }
}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
	font-family: sans-serif;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
	width: 100vw;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	width: 100%;
	vertical-align: top;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 8vw;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	/*z-index: -10;*/
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	/*z-index: -10;*/
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
	.slide {
		width: 1200px;
	}

	.caption {
		font-size: 96px;
		bottom: 96px;
		right: 50px;
	}
}
