body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333;
  font-size: 1.2rem;
  line-height: 1.4rem;
  width: 100%;
}
.fondo {
  background-image: url(../PHOTOS/fondo-index.jpg);
}
.main {
  background-color: #e5d6bd;
}
.menu-header {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
}

.cafelasenia {
  font-size: 2rem;
  line-height: 1.3em;
}

.container {
  width: 85%;
  max-width: 850px;
  margin: 0;
}

.header {
  background-color: black;
  color: white;
  padding: 2rem 0;
  left: 0;
  top: 0;
}

.header a {
  color: white;
  text-decoration: none;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav ul li {
  margin: 12px;
  display: inline-block;
}

a.menu {
  background-color: #f1f1f1;
  color: #333;
}

.nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.nav ul li a:hover {
  background: #4a4a4a;
}

.venidos {
  text-align: center;
  padding-top: 2%;
}

.detail {
  padding-left: 47%;
  padding-right: 47%;
  font-size: 2rem;
  text-decoration: none;
  color: peru;
}

/** Tarjetas Restaurante **/

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.column-2.carta {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}
.wrap-title-section h2{
  font-family: Calibri;
  padding-top: 5%;
}
.plato-carta {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 6px;
}

.img-plato-carta {
  display: flex;
  flex-basis: 25%;
  justify-content: center;
  width: 50px;
}

.img-plato-carta img {
  max-width: 100px;
  max-height: 75px;
}

.title-plato-carta {
  border: 1px solid #e5e5e5;
  background-color: white;
  text-align: center;
  border-bottom: none;
  border-top: none;
  flex-basis: 60%;
  padding: 0 1rem;
}

.precio-plato-carta {
  background-color: #e5e5e5;
  display: flex;
  flex-basis: 15%;
  justify-content: center;
  font-weight: bold;
}

@media (max-width:680px) {
  .column-2.carta {
    grid-template-columns: repeat(1,1fr);
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
}
.card1 {
  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 25%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container1 {
  padding: 2px 16px;
  text-align: center;
  background-color: #e5e5e5;
}
.variedad {
  color: peru;
  text-decoration: none;
  transition: all 0.4s linear;
  border-radius: 5px;
}
.variedad:hover {
  background-color: peru;
  color: white;
}
.menu-variedad {
  padding-top: 10px;
  text-align: center;
}
#comidas {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}
#drink {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
}
